framework: auto-detect

source https://api.nuget.org/v3/index.json
source http://nugetsim/nugetsim/nuget
source http://www.nuget.org/api/v2

nuget Kongsberg.Digital.ExceptionReporter ~> 1
nuget NUnit ~> 3
nuget log4net ~> 2
nuget NUnit3TestAdapter ~> 3