framework: auto-detect

source https://api.nuget.org/v3/index.json
source http://nugetsim/nugetsim/nuget
source http://www.nuget.org/api/v2
source http://ptfs.partner.master.int:8080/tfs/Simulation/_packaging/Sim/nuget/v3/index.json

nuget Kongsberg.Digital.ExceptionReporter ~> 1.3.0
nuget NUnit ~> 3.5.0
nuget log4net ~> 2.0.0
nuget NUnit3TestAdapter ~> 3.6.0