<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="..\packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="http://www.nuget.org/api/v2/" />
    <add key="KmInternal" value="http://partner14.partner.master.int/NuGetSim/nuget" />
    <add key="MyGet CodeQuality" value="http://www.myget.org/F/kmsim/" />
  </packageSources>
  <disabledPackageSources />
</configuration>