<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Kongsberg.Nemo.ExceptionReporter.Properties.Settings" requirePermission="false" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <Kongsberg.Nemo.ExceptionReporter.Properties.Settings>
      <setting name="LogExceptionReports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportingFormType" serializeAs="String">
        <value>Inmeta.Exception.ReportUI.WinForm.ReportForm, Kongsberg.Nemo.ExceptionReporter</value>
      </setting>
      <setting name="UseReportingUI" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Kongsberg_Nemo_Exception_Reporter_TFSExceptionService_Service"
        serializeAs="String">
        <value>http://exceptions.km.kongsberg.com/web/service.asmx</value>
      </setting>
    </Kongsberg.Nemo.ExceptionReporter.Properties.Settings>
  </applicationSettings>
  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
